    <style>
        #x{
        position:fixed;
        bottom:0;
        width:100%;
        background-image: url("back/colors.jpg");
        text-align: center;
        color: white;
        }

    </style>

    <div class="table-responsive" id="x">
        <table class="table">
            <tbody>
                <tr>
                    <h2>Чтобы писать сообщения <a href="authentication/authentication.php" style="">войдите</a> или<a href="registration/registration.php" style="">  зарегистритруйтесь</a></h2>
                </tr>
            </tbody>
        </table>
    </div>